<div class="wrapper footer">
  <div class="box">
    <div class="row ">
      <div class="col">
        <i class="bi bi-facebook"></i>
      </div>
      <div class="col ">
        <i class="bi bi-instagram"></i>
      </div>
      <div class="col">
        <i class="bi bi-twitter"></i>
      </div>
    </div>
    <div class="row text-center mt-4">
      <div class="col">
        <p>Info</p>
      </div>
      <div class="col">
        <p>Support</p>
      </div>
      <div class="col">
        <p>Marketing</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>Terms of Use</p>
      </div>
      <div class="col-6">
        <p>Privacy Policy</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
       <p>&copy; 2022 Food Delivery</p> 
      </div>
    </div>
  </div>
</div>
