
.footer{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: rgb(224, 218, 218);
}

p{
    font-size: 13px;
    text-align: center;
    color: black;
}

i{
    padding: 10px;
    color: rgb(107, 219, 107);
    
}

.box{
    width: 200px;
    margin: 35px auto 0;
    font-size: 20px;
}

